* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --primary-color: linear-gradient(to right, #dc143c, #ff007f);
  --bg-color: #000;
  --text-black: rgb(20, 20, 20);
  --text-color: #fefcff;
  --border-color: #93917c;
  --bg-abu: #f3f3f3;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--text-color);
}

header {
  position: relative;
}

nav {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  background: var(--primary-color);
  box-sizing: border-box;
  z-index: 1;
  padding: 6px 0;
  /* padding: 4px 6px; */
}

nav button {
  cursor: pointer;
  color: var(--text-color);
  background: none;
  padding: 8px 12px;
  font-size: 26px;
}

nav .menu {
  cursor: pointer;
  margin-left: 4px;
  /* flex-grow: 1; */
  /* position: absolute;
  left: 4px;
  top: 4px; */
}
nav .menu i {
  position: relative;
  top: 2px;
}
header .sidebar-menu {
  right: 0;
  left: 0;
  top: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 12px;
  /* padding-bottom: 12px; */
  /* background-color: #e4e4e4; */
}
.sidebar-menu h5 {
  color: #635e60;
  /* text-shadow: 0 0 0 black; */
  font-size: 10px;
}
.sidebar-menu a {
  text-align: center;
  font-size: 12px;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px;
  border-radius: 2px;
}
.sidebar-menu a:hover {
  filter: grayscale(0.5);
}
.sidebar-menu a:nth-child(2) {
  flex-grow: 5;
  background-color: #258dd3;
}
.sidebar-menu a:nth-child(3) {
  flex-grow: 1;
  background-color: #25d366;
}

nav .shop-bag {
  cursor: pointer;
  /* flex-grow: 1; */
  /* position: absolute;
  right: 38px;
  top: 4px; */
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  padding: 6px;
}

nav h1 {
  background-color: var(--primary-color);
  flex-grow: 6;
  font-size: 28px;
  /* padding: 4px; */
}

nav button.search {
  /* right: 2px;
  top: 4px;
  position: absolute; */
  /* flex-grow: 1; */
  margin-right: 4px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3 ease;
}

nav button.search i {
  position: relative;
  top: 2px;
}

.kotak-pencarian {
  position: relative;
  width: 100%;
  /* background: var(--bg-color); */
  top: 4px;
  padding: 4px 12px;
  box-sizing: border-box;
}

.kotak-pencarian input {
  color: #2e1b25;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 0.3px black;
}

.kotak-pencarian input:focus {
  outline: none;
  /* box-shadow: 0 0 1px 0 #ff369b; */
  /* color: #420021; */
}
.kotak-pencarian input::placeholder {
  color: rgba(66, 0, 33, 0.5);
}

header form {
  position: relative;
}

.kotak-pencarian button {
  color: var(--text-color);
  background-color: #ff007f;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 4px 24px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.kotak-pencarian button:hover {
  background-color: #ff369b;
}

/* Main Konten */
main {
  position: relative;
  top: -63px;
  width: 100%;
  transition: 0.3s;
  z-index: 9;
  /* background-image: linear-gradient(#000, #222); */
}
.search-on {
  top: -10px;
  transition: 0.3s;
}
.menu-on {
  top: 32px;
  transition: 0.3s;
}

/* Kotak Unggulan */
.kotak-unggulan {
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(to bottom, #222, #000, #000);
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
  position: relative;
  top: -32px;
  transition: 0.3s;
}

.kotak-unggulan .medsos {
  color: var(--text-color);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  gap: 4px;
}

.kotak-unggulan .medsos a {
  font-size: 10px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 6px;
  border-radius: 2px;
  color: var(--text-color);
  text-decoration: none;
}
.kotak-unggulan .medsos a:hover {
  filter: grayscale(0.5);
}

.kotak-unggulan .medsos a i {
  font-size: 12px;
  position: relative;
  top: 2px;
  left: 0;
  margin-right: 2px;
}
.kotak-unggulan .medsos a:nth-child(1) {
  background-color: #25d366;
  flex-grow: 1;
}
.kotak-unggulan .medsos a:nth-child(2) {
  background-image: linear-gradient(to bottom, #e1306c, #f56040);
  flex-grow: 1;
}
.kotak-unggulan .medsos a:nth-child(3) {
  background-color: #4267b2;
  flex-grow: 1;
}
.kotak-unggulan .medsos a:nth-child(4) {
  background-color: #010101;
  flex-grow: 1;
}

.kotak-unggulan .unggulan {
  margin-top: 12px;
  display: flex;
  justify-content: start;
  gap: 12px;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: relative;
}

/* .kotak-unggulan .unggulan .pengumuman {
  text-wrap: nowrap;
  top: -20px;
  right: -120%;
  position: absolute;
  font-size: 12px;
  color: rgb(231, 231, 231);
  padding: 0 6px;
  animation: pengumuman-berjalan 15s linear infinite;
}
@keyframes pengumuman-berjalan {
  0% {
    right: -120%;
  }
  100% {
    color: yellow;
    right: 120%;
  }
} */

.kotak-unggulan .gambar {
  position: relative;
}
.kotak-unggulan .gambar::after {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 24px;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.kotak-unggulan .unggulan .gambar span.new {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 2px 8px;
  margin: 4px;
  background-image: var(--primary-color);
  /* Batas */
  overflow: hidden;
}

.kotak-unggulan .unggulan .gambar span.new::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* Mulai di luar kotak gambar */
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  animation: move-glint 3s linear infinite; /* Animasi pergerakan kilauan */
}
@keyframes move-glint {
  0% {
    left: -300%; /* Mulai di luar kotak gambar */
  }
  100% {
    left: 300%; /* Berakhir di luar kotak gambar */
  }
}

.kotak-unggulan .unggulan img {
  height: 9rem;
  width: 6.5rem;
  border-radius: 4px;
  object-fit: cover;
}
.kotak-unggulan .unggulan p {
  text-align: center;
  position: relative;
  color: var(--text-color);
  /* left: 50%; */
  bottom: 48px;
  font-size: 12px;
  margin-bottom: 2px;
  /* font-weight: bold; */
  z-index: 2;
}

.kotak-unggulan .lihat-semua {
  font-size: 12px;
  color: var(--text-color);
  border: none;
  width: 50%;
  padding: 6px 0;
  background-image: var(--primary-color);
  border-radius: 4px;
}

main .daftar-makanan {
  position: relative;
  margin-top: -2rem;
  background-color: var(--text-color);
  padding-bottom: 1rem;
  /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); */
}

main .daftar-makanan .makanan {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.makanan h3 {
  font-size: 24px;
  color: var(--bg-color);
  align-self: flex-start;
}
.makanan h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 72px;
  background-image: var(--primary-color);
  margin-left: 2px;
  /* transform: rotate(-60deg); */
  /* transform: translateX(12px); */
}

.makanan button {
  border: none;
  border-radius: 2px;
  color: var(--text-color);
  background-image: var(--primary-color);
  font-size: 12px;
  padding: 4px 12px;
}

main .daftar {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 12px;
  padding: 12px;
  flex-wrap: wrap;
}

main .daftar .kartu-makanan {
  background-color: var(--text-color);
  border: 1px solid rgba(147, 145, 124, 0.3);
  flex-grow: 1;
  /* padding: 12px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(50% - 12px);
  /* height: 12rem; */
}

main .daftar .kartu-makanan img {
  /* margin-bottom: 12px; */
  background: var(--primary-color);
  height: 8rem;
  width: 100%;
  object-fit: cover;
  /* box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.5), 0 4px 5px 0 rgba(0, 0, 0, 0.2); */
  /* border-radius: 2px; */
}
.daftar .kartu-makanan span {
  font-size: 12px;
  display: block;
  /* margin-bottom: 4px; */
  margin: 6px 8px;
}
main .daftar .kartu-makanan .nama-makanan {
  color: var(--text-black);
  font-weight: bold;
  font-size: 20px;
}
main .daftar .kartu-makanan .makanan-terjual {
  font-size: 10px;
}
main .daftar .kartu-makanan .harga-makanan {
  font-size: 16px;
  color: var(--text-color);
  box-sizing: border-box;
  background-image: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 4px 0;
  margin-top: 12px;
}

.halaman {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -12px;
}
.halaman button {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: inline-block;
}
.halaman button:hover {
  background-image: var(--primary-color);
  color: var(--text-color);
}
.halaman button.active {
  background-image: var(--primary-color);
  cursor: none;
  color: var(--text-color);
}

footer {
  position: relative;
  bottom: -54px;
  width: 100%;
  /* height: 14rem; */
  /* margin-top: -3.5rem; */
  background-color: #222;
  font-size: 12px;
  color: gray;
  text-align: center;
  padding: 1rem 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-around;
  z-index: 100;
}
.judul-footer {
  text-align: start;
  color: var(--text-color);
}

.judul-footer h1::after {
  display: block;
  content: "";
  /* position: absolute;
  top: 32px;
  left: 10rem;
  right: 14px;
  height: 2px; */
  width: 55%;
  float: right;
  margin-top: 16px;
  height: 2px;
  background-color: var(--text-color);
  color: var(--text-color);
}

.detail-footer p {
  text-align: start;
  line-height: 16px;
  text-align: justify;
}
footer .copyright {
  font-size: 10px;
  padding: 16px;
}

/* Media Screen atau Responsif */
@media screen and (min-width: 800px) {
  body,
  header,
  main {
    width: 100%;
    margin: 0 auto;
  }
  body {
    width: 80%;
    background-color: var(--border-color);
  }
  .konten .kotak-unggulan .unggulan::-webkit-scrollbar {
    display: none;
  }
  main {
    background-color: #d1d1d1;
  }
  footer {
    /* margin-top: -4rem; */
    z-index: 100;
  }
}
